<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход в систему</title>
</head>
<body>
    <h1>Вход в систему</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('users.login') }}">
        {{ form.hidden_tag() }}
        <div>
            <label for="email">Email</label>
            {{ form.email(size=32) }}
        </div>
        <div>
            <label for="password">Password</label>
            {{ form.password(size=32) }}
        </div>
        <div>
            {{ form.button() }}
        </div>
    </form>

    <p>Нет аккаунта? <a href="{{ url_for('users.registration') }}">Зарегистрируйтесь</a>
</body>
</html>
